body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
    padding: 40px;
}

input {
    width: 420px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 30px;
    background: white;
    padding: 20px;
    display: inline-block;
    text-align: left;
}
